src/main/resources/wsdl/EmployeeServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:tns="http://www.jpworks.com/employee"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  name="EmployeeService" targetNamespace="http://www.jpworks.com/employee">
	<wsdl:documentation>SOAP Definition for ws-employee</wsdl:documentation>
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.jpworks.com/employee" schemaLocation="employee.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="EmployeeByIdRequest">
		<wsdl:part name="parameters" element="tns:EmployeeByIdRequest"/>
	</wsdl:message>
	<wsdl:message name="EmployeeByNameRequest">
		<wsdl:part name="parameters" element="tns:EmployeeByNameRequest"/>
	</wsdl:message>
	<wsdl:message name="EmployeeResponse">
		<wsdl:part name="parameters" element="tns:EmployeeResponse"/>
	</wsdl:message>
	<wsdl:message name="EmployeesResponse">
		<wsdl:part name="parameters" element="tns:EmployeesResponse"/>
	</wsdl:message>

	<!--This element defines the service operations and the combination of input and output elements to clients-->
	<wsdl:portType name="EmployeeServicePortType">
		<wsdl:operation name="GetEmployeeById">
			<wsdl:input message="tns:EmployeeByIdRequest"/>
			<wsdl:output message="tns:EmployeeResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetEmployeesByName">
			<wsdl:input message="tns:EmployeeByNameRequest"/>
			<wsdl:output message="tns:EmployeesResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<!-- This element provides specific details on how an operation will actually be transmitted over the network-->
	<wsdl:binding name="EmployeeServiceSOAP" type="tns:EmployeeServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetEmployeeById">
			<soap:operation soapAction="http://www.jpworks.com/employee/GetEmployeeById"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetEmployeesByName">
			<soap:operation soapAction="http://www.jpworks.com/employee/GetEmployeesByName"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<!-- Definition of the service and the endpoint. -->
	<wsdl:service name="EmployeeService">
		<wsdl:port name="EmployeeServiceSOAP" binding="tns:EmployeeServiceSOAP">
			<soap:address location="the-url-service-goes-here"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
